---
import BuilderSidebarEnd from "../components/builder-sidebar-end.astro";
import BuilderSidebarStart from "../components/builder-sidebar-start.astro";
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Configurator" description="Lorem ipsum..." builder={true}>
  <Navbar class="max-w-full" />

  <div class="grid grid-cols-[auto_1fr_auto] grid-rows-1 min-h-dvh pt-16">
    <BuilderSidebarStart />
    <div class="relative">
      <div class="absolute inset-0 dots-pattern opacity-70"></div>
    </div>
    <BuilderSidebarEnd />
  </div>
</Layout>
