---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import "../globals.css";

const {
  title = "Tailwind CSS Animate",
  description = "Extended animation utilities for Tailwind CSS v4",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body class="bg-slate-900 text-white min-h-screen text-sm">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
