@theme default {
  --animate-fade-out: fade-out var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease)
    var(--default-animation-delay, 0s) both;

  --animate-fade-out-down: fade-out-down var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease)
    var(--default-animation-delay, 0s) both;

  --animate-fade-out-start: fade-out-start var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease)
    var(--default-animation-delay, 0s) both;

  --animate-fade-out-end: fade-out-end var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease)
    var(--default-animation-delay, 0s) both;

  --animate-fade-out-up: fade-out-up var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease)
    var(--default-animation-delay, 0s) both;

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes fade-out-start {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes fade-out-end {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
}
