@theme default {
  --animate-slide-in-down: slide-in-down var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease-in)
    var(--default-animation-delay, 0s) both;

  --animate-slide-in-up: slide-in-up var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease-in)
    var(--default-animation-delay, 0s) both;

  --animate-slide-in-start: slide-in-start var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease-in)
    var(--default-animation-delay, 0s) both;

  --animate-slide-in-end: slide-in-end var(--default-animation-duration, 1s)
    var(--default-animation-timing-function, ease-in)
    var(--default-animation-delay, 0s) both;

  @keyframes slide-in-down {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slide-in-up {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slide-in-start {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slide-in-end {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}
