<div class="absolute inset-0 opacity-100">
  <div
    class="absolute inset-0 bg-position-[0_0_40px_40px] bg-size-[80px_80px]"
    style="background-image: radial-gradient(circle, rgba(168, 85, 247, 0.4) 1px, transparent 1px);"
  >
  </div>
</div>
